:root {
  --paper: #f3e4c6;
  --paper2: #dfd0b8;
  --text: #231b0c;
}

* {
  background-color: var(--paper2);
  color: #231b0c;
  font-family: "Times New Roman", sans-serif;
  /* display: flex;
  justify-content: center; */
  margin: 2rem;
  padding: 2rem;
}

body {
  border-style: solid;
  border-width: 1rem;
  border-color: var(--text);
  margin: 1rem 1rem 1rem 1rem;
}

.headline {
  /* font-size: 4rem; */
  font-family: "DM Serif Display", serif;
}

h1 {
  font-size: 5.5rem;
  display: flex;
  align-content: center;
  padding: 1rem;
  padding-bottom: 2rem;
  margin: 2rem;
  font-family: "Times New Roman";
  font-variant: small-caps;
  text-align: center;
  font-weight: 800;
  color: var(--text);
  text-decoration: underline;
  border-style: dashed double;
  border-width: 0.8rem;
  border-color: var(--text);
}

#buzzword {
  font-size: 4rem;
  display: flex;
  align-content: center;
  margin: 2rem;
}

#headline {
  font-size: 3rem;
  display: flex;
  align-content: center;
  margin: 2rem;
}

#headline2 {
  font-size: 4rem;
  display: flex;
  align-content: center;
  margin: 2rem;
}

#button {
  display: flex;
  justify-content: center;
  opacity: 0.7;
}

#refresh {
  font-size: 2em;
  background-color: #f5f3f4;
  border: none;
  padding: 0.5em;
  margin: 0.5em;
}

hr {
  display: block;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  padding: 0;
  color: black;
}
