* {
  background-color: #98838f;
  color: #0e0c0d;
  font-family: "Poppins", sans-serif;
  /* display: flex;
  justify-content: center; */
  margin: 2rem;
  padding: 2rem;
}

.headline {
  /* font-size: 4rem; */
  font-family: "DM Serif Display", serif;
}

h1 {
  font-size: 5rem;
  display: flex;
  align-content: center;
  margin: 2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #0e0c0d;
  color: #98838f;
}

#headline {
  font-size: 4rem;
  display: flex;
  align-content: center;
  margin: 2rem;
}

#headline2 {
  font-size: 5rem;
  display: flex;
  align-content: center;
  margin: 2rem;
}

button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
}
